<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/naver.css">
    <link rel="shortcut icon" href="./favicon.ico">
    <title>네이버</title>
</head>
<body>
    <header>
       
        <div class="center-flex">  <!-- 가운데 정렬용 div-->
            <div class="header-top"">
                <a href="www.naver.com"><span>네이버를 시작페이지로 |</span></a>
                <span>쥬니어 네이버 |</span>
                <span>해피빈 |</span>
            </div>
            <div class ="header-search">
                    <h1>
                        <a href= "https://www.naver.com">
                            <span class="naver-text">네이버</span>
                        </a>
                    </h1>
                </a>
                <h2 class="blind">검색창</h2>
                
                <fieldset>
                    <legend class='blind'>검색</legend>
                    <input type="text"/>
                    <button>
                        <span class='blind'>검색</span>
                        <span id="search-image"></span>
                    </button>
                </fieldset>
            </div>
            
        </div>
        <nav>
            <div class="center-nav">
                <ul>
                    <li>
                        <a href="">
                            <span></span>
                            <span class="blind">카페</span>
                        </a>
                    </li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">블로그</span></a></li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">지식인</span></a></li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">쇼핑</span></a></li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">네이버페이</span></a></li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">네이버쇼핑</span></a></li> <!-- list item -->
                    <li><a href=""><span></span><span class="blind">네이버TV</span></a></li> <!-- list item -->
                </ul>
                <ul>
                    <li style="font-weight: bold;">사전</li>
                    <li>뉴스</li>
                    <li>증권</li>
                    <li>부동산</li>
                    <li>지도</li>
                    <li>영화</li>
                    <li>뮤직</li>
                    <li>책</li>
                    <li>웹툰</li>
                </ul> 
                <div class="nav-divider"></div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <div class="column-left">
            <div class="ad-main">main ad</div>
            <div class="news-cast">
                <div class="head-line">headline</div>
                <div class="news-stand">newsstand</div>
            </div>  
        </div>
        <div class="column-right">
            <a href="/login">
                <div class="area-login">log in</div>
            </a>
            <div class="area-weather">weather</div>
            <div class="area-subad">sub ad</div>
        </div>
        <div class="column-bottom">
            <div class="area-themecast">theme cast</div>
            <div class="area-shopping">shopping</div>
        </div>
        <div class="column-banner">

        </div>
    </div>            
   
    <footer>
        <div>공지사항</div>
        <div>Creator</div>
        <div>회사소개</div>
    </footer>

</body>
</html>