<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/stylesheets/login.css'>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>
            <a href='./login.html'></a>
        </h1>
    </div>
    <div id="container">
        <div id="content">
            <form>
                <fieldset>
                    <div class="id_area">
                        <div class="input_row">
                            <input type="text" id="id_input">
                        </div>
                    </div>
                    <div class="pw_area">
                        <div class="input_row">
                            <input type="password" id="pw_input">
                        </div>
                    </div>
                    <input type="submit" class="global_button" value="로그인">
                    <div id="check_info">

                    </div>
                </fieldset>
            </form>
            <div class="position_a">
                <div class="find_info">
                    <a href="">아이디 찾기</a>
                    <span class="bar">|</span>
                    <a href="">비밀번호 찾기</a>
                    <span class="bar">|</span>
                    <a href="">회원가입</a>
                </div>
            </div>
            <a href="./" id="banner">
            </a>
        </div>
    </div>
    <div id="footer">

    </div>
</body>
</html>